Repository moevm/mse1h2024-clock-ml, pull requests merged in 2024-03, with the labels that each got.

#15 backend/rest-api
  mse1h2024-clock-ml-backend/Dockerfile
  mse1h2024-clock-ml-backend/cmd/main/main.go
  mse1h2024-clock-ml-backend/config/config.yaml
  mse1h2024-clock-ml-backend/go.sum
  mse1h2024-clock-ml-backend/internal/config/config.go
  mse1h2024-clock-ml-backend/internal/httpserver/dto.go
  mse1h2024-clock-ml-backend/internal/httpserver/handlers.go
  mse1h2024-clock-ml-backend/internal/httpserver/routes.go
  mse1h2024-clock-ml-backend/internal/httpserver/server.go
  mse1h2024-clock-ml-backend/internal/logger/log.go
  mse1h2024-clock-ml-backend/internal/logger/middleware.go
  mse1h2024-clock-ml-backend/internal/rabbitmq/errors.go
  mse1h2024-clock-ml-backend/internal/rabbitmq/publisher.go
  mse1h2024-clock-ml-backend/internal/restapi/dto.go
  mse1h2024-clock-ml-backend/internal/restapi/errors.go
  mse1h2024-clock-ml-backend/internal/restapi/restapi.go
Labels: enhancement, MSE Iteration 2

#16 ML-processing: REST API service
  mse1h2024-clock-ml-processing/.gitignore
  mse1h2024-clock-ml-processing/Dockerfile
  mse1h2024-clock-ml-processing/backend-services/rabbitmq/rabbit.py
  mse1h2024-clock-ml-processing/backend-services/restapi/rest.py
  mse1h2024-clock-ml-processing/main.py
  mse1h2024-clock-ml-processing/requirements.txt
Labels: enhancement, MSE Iteration 2

#27 Containerization of app
  docker-compose.yml
  mse1h2024-clock-ml-backend/config/config.yaml
  mse1h2024-clock-ml-backend/go.mod
  mse1h2024-clock-ml-backend/go.sum
  mse1h2024-clock-ml-backend/internal/httpserver/dto.go
  mse1h2024-clock-ml-backend/internal/httpserver/handlers.go
  mse1h2024-clock-ml-backend/internal/httpserver/server.go
  mse1h2024-clock-ml-backend/internal/restapi/restapi.go
  mse1h2024-clock-ml-frontend/Dockerfile
  mse1h2024-clock-ml-frontend/src/pages/index/index.page.tsx
  mse1h2024-clock-ml-processing/Dockerfile
  mse1h2024-clock-ml-processing/backend-services/restapi/rest.py
  mse1h2024-clock-ml-processing/requirements.txt
Labels: MSE Iteration 2

#18 ml-processing/extracting_digit_positions
  mse1h2024-clock-ml-processing/processing/ClockDigitsExtractor.py
Labels: enhancement, MSE Iteration 2

#26 ml_processing/extracting_lines_and_circles
  mse1h2024-clock-ml-processing/processing/ClockCircleExtractor.py
  mse1h2024-clock-ml-processing/processing/ClockHandsExtractor.py
Labels: enhancement, MSE Iteration 2

#30 Connect backend with frontend
  mse1h2024-clock-ml-backend/internal/httpserver/dto.go
  mse1h2024-clock-ml-backend/internal/httpserver/handlers.go
  mse1h2024-clock-ml-backend/internal/httpserver/routes.go
  mse1h2024-clock-ml-backend/internal/rabbitmq/publisher.go
  mse1h2024-clock-ml-backend/internal/restapi/restapi.go
  mse1h2024-clock-ml-frontend/package-lock.json
  mse1h2024-clock-ml-frontend/package.json
  mse1h2024-clock-ml-frontend/src/api/check-response.ts
  mse1h2024-clock-ml-frontend/src/api/index.ts
  mse1h2024-clock-ml-frontend/src/atoms/broker.ts
  mse1h2024-clock-ml-frontend/src/atoms/image.ts
  mse1h2024-clock-ml-frontend/src/atoms/score.ts
  mse1h2024-clock-ml-frontend/src/components/canvas/contols/controls.component.tsx
  mse1h2024-clock-ml-frontend/src/components/canvas/controls/controls.component.tsx
  mse1h2024-clock-ml-frontend/src/components/canvas/controls/controls.module.css
  mse1h2024-clock-ml-frontend/src/components/result/result.component.tsx
  mse1h2024-clock-ml-frontend/src/components/result/result.module.css
  mse1h2024-clock-ml-frontend/src/constants/url.ts
  mse1h2024-clock-ml-frontend/src/pages/canvas/canvas.page.tsx
  mse1h2024-clock-ml-frontend/src/pages/result/result.page.tsx
  mse1h2024-clock-ml-frontend/src/types.d.ts
  mse1h2024-clock-ml-processing/backend-services/restapi/rest.py
  mse1h2024-clock-ml-processing/requirements.txt
Labels: MSE Iteration 2, 1.0.0
