Repository moevm/mse1h2024-clock-ml, pull requests merged in 2024-05, with the labels that each got.

#59 fix/accepting-time-from-restapi
  mse1h2024-clock-ml-processing/backend-services/restapi/rest.py
Labels: MSE Iteration 4

#63 Clock hands extractor fix
  mse1h2024-clock-ml-processing/processing/extractors/ClockHandsExtractor.py
Labels: bug, MSE Iteration 4

#62 fix/estimator-result
  mse1h2024-clock-ml-processing/processing/Estimator.py
  mse1h2024-clock-ml-processing/processing/extractors/ClockCircleExtractor.py
Labels: bug, MSE Iteration 4

#70 fix: ports
  docker-compose.yml
  mse1h2024-clock-ml-backend/Dockerfile
  mse1h2024-clock-ml-backend/config/config.yaml
  mse1h2024-clock-ml-frontend/src/constants/url.ts
  mse1h2024-clock-ml-processing/Dockerfile
  mse1h2024-clock-ml-processing/backend-services/restapi/rest.py
Labels: MSE Iteration 4

#72 Code documentation for ml-processing
  mse1h2024-clock-ml-processing/processing/Estimator.py
  mse1h2024-clock-ml-processing/processing/extractors/ClockCircleExtractor.py
  mse1h2024-clock-ml-processing/processing/extractors/ClockHandsExtractor.py
  mse1h2024-clock-ml-processing/processing/objects/objects.py
Labels: documentation, MSE Iteration 4
